In [ ]:
import pandas as pd

Fetch Data

In [82]:
StoreSales = pd.read_csv('D:\Data_analysis\Brainwave_Task1/rawdata.csv')

Data Info

In [79]:
StoreSales.info()
StoreSales.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Date     9994 non-null   datetime64[ns]
 1   Customer Name  9994 non-null   object
 2   State          9994 non-null   object
 3   Category       9994 non-null   object
 4   Sub-Category   9994 non-null   object
 5   Product Name   9994 non-null   object
 6   Sales          9994 non-null   float64
 7   Quantity       9994 non-null   int64
 8   Profit         9994 non-null   float64
 9   Year           9994 non-null   int32
 10  Month          9994 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(2), int64(1), object(5)
memory usage: 780.9+ KB

,Order Date,Sales,Quantity,Profit,Year,Month
count,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,2016-04-30 00:07:12.259355648,229.858022,3.789574,28.656973,2015.722233,7.809686
min,2014-01-03 00:00:00,0.440000,1.000000,-6599.980000,2014.000000,1.000000
25%,2015-05-23 00:00:00,17.280000,2.000000,1.730000,2015.000000,5.000000
50%,2016-06-26 00:00:00,54.490000,3.000000,8.665000,2016.000000,9.000000
75%,2017-05-14 00:00:00,209.940000,5.000000,29.360000,2017.000000,11.000000
max,2017-12-30 00:00:00,22638.480000,14.000000,8399.980000,2017.000000,12.000000
std,NaN,623.245131,2.225110,234.260203,1.123555,3.284654

Clean Data

In [83]:
cols = []
for col in StoreSales['Order Date']:
 x =  col.replace("-","/")
 cols.append(x)
#cols
StoreSales['Order Date']=cols
StoreSales['Order Date']

0         3/1/2014
1         4/1/2014
2         4/1/2014
3         4/1/2014
4         5/1/2014
           ...
9989    30/12/2017
9990    30/12/2017
9991    30/12/2017
9992    30/12/2017
9993    30/12/2017
Name: Order Date, Length: 9994, dtype: object

In [84]:
#print(StoreSales)
StoreSales['Order Date']=pd.to_datetime(StoreSales['Order Date'],format='%d/%m/%Y')
StoreSales['Year']=StoreSales['Order Date'].dt.year
StoreSales['Month']=StoreSales['Order Date'].dt.month
print(StoreSales)

     Order Date      Customer Name         State         Category  \
0    2014-01-03      Darren Powers         Texas  Office Supplies
1    2014-01-04      Phillina Ober      Illinois  Office Supplies
2    2014-01-04      Phillina Ober      Illinois  Office Supplies
3    2014-01-04      Phillina Ober      Illinois  Office Supplies
4    2014-01-05         Mick Brown  Pennsylvania  Office Supplies
...         ...                ...           ...              ...
9989 2017-12-30  Patrick O'Donnell      New York       Technology
9990 2017-12-30  Patrick O'Donnell      New York  Office Supplies
9991 2017-12-30         Erica Bern    California  Office Supplies
9992 2017-12-30         Erica Bern    California  Office Supplies
9993 2017-12-30      Jill Matthias      Colorado  Office Supplies

     Sub-Category                                       Product Name   Sales  \
0           Paper  Message Book, Wirebound, Four 5 1/2" X 4" Form...   16.45
1          Labels                                          Avery 508   11.78
2         Storage                      SAFCO Boltless Steel Shelving  272.74
3         Binders         GBC Standard Plastic Binding Systems Combs    3.54
4             Art  Avery Hi-Liter EverBold Pen Style Fluorescent ...   19.54
...           ...                                                ...     ...
9989       Phones                          Gear Head AU3700S Headset   90.93
9990      Binders               Wilson Jones Legal Size Ring Binders   52.78
9991      Binders    Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl   13.90
9992      Binders                                 GBC Binding covers   20.72
9993    Fasteners                                Bagged Rubber Bands    3.02

      Quantity  Profit  Year  Month
0            2    5.55  2014      1
1            3    4.27  2014      1
2            3  -64.77  2014      1
3            2   -5.49  2014      1
4            3    4.88  2014      1
...        ...     ...   ...    ...
9989         7    2.73  2017     12
9990         3   19.79  2017     12
9991         2    4.52  2017     12
9992         2    6.48  2017     12
9993         3   -0.60  2017     12

[9994 rows x 11 columns]

In [86]:
df = pd.DataFrame(StoreSales)
df =df[['Order Date','Year','Month','Customer Name','State','Category','Sub-Category','Product Name','Sales','Quantity','Profit']]
df.head()
df.to_csv('D:\Data_analysis\Brainwave_Task1/cleaneddata1.csv')